// 모든 테그를 지칭하는 표시 *
// 박스는 보더 박스, 포지션 릴레이티브

$primary : #FC0F1E;
$sub_primary: #B9EEFF; 
$basic_black : #000000;
$basic_White : #ffffff;


*{
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
}

//rem, em : 반응형에 최적화 된 폰트사이즈. html에 설정된 폰트사이즈에 영향을 받음
// 1rem : html에 지정된 폰트사이즈

html{
    font-size: 16px;
    //min-height: 100%;
}

body{
    margin : 0px 0px;
    padding: 0px 0px;
    background: $sub_primary;
    font-family: 'Noto Sans KR', sans-serif;
    //min-height: 100vh;

}

// scss를 쓰는 이유 
// 변수를 쓰기 위해서 : 여러번 색이 사용되었을때 바로 바꿀 수 있어서
// 스타일을 중첩하기 위해서 

h1{
    font-family: 'Bebas Neue', sans-serif;
    color: $primary;
}


.snow{

    padding: 0px 0px;
    // height: 12px;
    // width: 12px;
    position: absolute;
    z-index: 100;   //위에 올라와 있어야 함
    border-radius: 50%;
    // margin-left: auto;
    // margin-right: auto;
    background-color: $basic_White;
    top: -12px;
  //  bottom: -30px;
  //  animation: fall 7s linear;
    scroll-behavior: smooth;
    margin: 0rem 0rem;


}

.footprints{

  position: fixed;
  font-family: 'Noto Sans TC', sans-serif;

  >div{
    position: fixed;
    font-size: 20rem;
  }
}

.clicksnow{

  padding: 0px 0px;
  // height: 12px;
  // width: 12px;
  position: fixed;
  z-index: 100;   //위에 올라와 있어야 함
  border-radius: 50%;
  // margin-left: auto;
  // margin-right: auto;
  background-color: $basic_White;
//  top: -12px;
//  bottom: -30px;
//  animation: fall 7s linear;
  scroll-behavior: smooth;
  margin: 0rem 0rem;

}

.main{

    margin: 0rem 0rem;
    padding: 0px 0px;
    //100vh 모두 사용, 가운데 정렬 -> flex로
    min-height: 100vh;
    min-width: 80vw;
    display: flex;
    justify-content: center;    //가로 정렬
    align-items: center;    //세로 정렬
    flex-direction: column;     //아이템 위아래 정렬

    h1{
        position: absolute;
        margin: 0rem 0rem;
        bottom: 3.5rem;
        font-size: 2rem;
        text-align: center;
    }

    


}

.logo-holder{

    //position: absolute;
    bottom: 2rem;
    padding: 0px 0px;
    //margin: 0rem 0rem;
    display: flex;
    justify-content: center;        //이미지 반응형에서 잘리지 않게 하려고
    //margin: 0rem 0rem;
    align-items: center;

    img{

        //width: calc((100vw - 2rem) / 12 * 7);
        //width: calc((100vw - 2rem) / 12 * 10);    //대략적인 위치 맞추기

        width: calc(70vw);
    }
}

.heart-holder{

  //  margin: 2rem 1rem;      //rem이 기본 마진값 (위에서 지정한 것인듯? 16px)
    //position: absolute;
    top: 50%;
    display: flex;
    margin: 0rem 0rem;
    align-items: center;

    img{

        //width: calc((100vw - 2rem) / 12 * 2);
        //height: calc(100vh * 0.15);
        width: calc(100vw * 0.15);
    }

    padding: 0px 0px;
}

.music{

    min-height: 100vh;
    min-width: 80vw;
    margin: 0rem 0rem;
    padding: 0px 0px;

    justify-content: center;    //가로 정렬
    align-items: center;    //세로 정렬
    flex-direction: column;     //아이템 위아래 정렬

    display: flex;
    text-align: center;
  
    p{
        position: absolute;
        top: 10vh;
        //padding-top: 2rem;
        font-size: 0.7rem;
        text-align: center;

        img{
            top: 0.1rem;
            width: 1.2rem;
            vertical-align: text-bottom;
        }
    }

    

}

.Trackname1{

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 0px 0px;
  margin: 0rem 0rem;

  h1{
    position: absolute;
    top: 28vh;
    left: -1.5rem;
    font-size: 1rem;
    margin: 0 auto;
    text-align: center;
}
  
}

.Trackname2{

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 0px 0px;
  margin: 0rem 0rem;

  h1{
    position: absolute;
    top: 28vh;
    left: -1.4rem;
    font-size: 1rem;
    margin: 0 auto;
    text-align: center;
}
  
}

.Trackname3{

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 0px 0px;
  margin: 0rem 0rem;

  h1{
    position: absolute;
    top: 28vh;
    left: -1.9rem;
    font-size: 1rem;
    margin: 0 auto;
    text-align: center;
}
  
}

.Trackname4{

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 0px 0px;
  margin: 0rem 0rem;

  h1{
    position: absolute;
    top: 28vh;
    left: -1.6rem;
    font-size: 1rem;
    margin: 0 auto;
    text-align: center;
}
  
}

.Trackname5{

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 0px 0px;
  margin: 0rem 0rem;

  h1{
    position: absolute;
    top: 28vh;
    left: -1.5rem;
    font-size: 1rem;
    margin: 0 auto;
    text-align: center;
}
  
}

.Trackname6{

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 0px 0px;
  margin: 0rem 0rem;

  h1{
    position: absolute;
    top: 28vh;
    left: -1.75rem;
    font-size: 1rem;
    margin: 0 auto;
    text-align: center;
}
  
}

.Christmas-Tree{

    position: relative;
    //padding-top: 5rem;
    width: 0;
    height: 0;

    display: flex;
    justify-content: center;

    padding: 0px 0px;
    margin: 0rem 0rem;
    
    align-items: center;
    text-align: center;


}

// .trackname1{

//   position: absolute;
//   top: 28vh;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
//   font-size: 1rem;
// }

.final-tree{

    position: absolute;
    top: -30vh;
    justify-content: center;
    align-items: center;
    //width: calc(60vw);
    height: calc(55vh);
}

// .trackname1{

//   position: absolute;
//   top: 28vh;
//   font-size: 1rem;
// }

input.Lipgloss{

    position: absolute;
    top: -26vh;

    width: calc(4vh);
    height: calc(4vh);

    border: none;
    //background-image: url(/1/asset/heart.svg);
    background-color: rgb(36, 114, 223,0);

    z-index: 100;

}


input.PassionFruit{

    position: absolute;
    top: -7vh;
    left: 2.2vh;

    width: calc(4vh);
    height: calc(4vh);

    border: none;
    //background-image: url(/1/asset/heart.svg);
    background-color: rgb(214, 24, 24,0);

    z-index: 100;

}

input.Lighthouse{

    position: absolute;
    top: 7.5vh;
    right: 8.5vh;

    width: calc(4vh);
    height: calc(4vh);

    border: none;
    //background-image: url(/1/asset/heart.svg);
    background-color: rgb(115, 9, 229,0);

    z-index: 100;

}

input.Fantasize{

    position: absolute;
    top: -1.7vh;
    right: 3.7vh;

    width: calc(4vh);
    height: calc(4vh);

    border: none;
    //background-image: url(/1/asset/heart.svg);
    background-color: rgb(18, 205, 89,0);

    z-index: 100;

}

input.FireEyes{

    position: absolute;
    top: -13.2vh;
    right: 3vh;

    width: calc(4vh);
    height: calc(4vh);

    border: none;
    //background-image: url(/1/asset/heart.svg);
    background-color: rgb(228, 24, 119,0);

    z-index: 100;

}

input.FairyTale{

    position: absolute;
    top: 4.3vh;
    left: 5vh;

    width: calc(4vh);
    height: calc(4vh);

    border: none;
    //background-image: url(/1/asset/heart.svg);
    background-color: rgb(29, 194, 200,0);

    z-index: 100;

}

.Advent-Calendar{

    height: 60vh;
    min-width: 80vw;
    margin: 0rem 0rem;
    padding: 0px 0px;

    justify-content: center;    //가로 정렬
    align-items: center;        //세로 정렬
    flex-direction: column;     //아이템 위아래 정렬
    align-content: center;

    display: flex;

    h1{
        position: absolute;
        top: -10vh;
        font-size: 2rem;
        margin: 0rem 0rem;
        font-size: 3rem;
        text-align: center;
    }

    p{
      position: absolute;
      bottom: 10vh;
      font-size: 0.7rem;
      text-align: center;
    }

}

.calendar-grid {

    position: absolute;
    top: 0;
    text-align: center;
    place-items: center;
    display: grid;
  
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    width: 80vw;
    height: 40vh;
    grid-template-rows: auto;
    grid-gap: 1rem;
  

    grid-template-areas:
        "day1  day2  day3  day4  day5"
        "day6  day7  day8  day9  day10"
        "day11  day12  day13  day14  day15"
        "day16  day17  day18  day19  day20"
        "day21  day22  day23  day24  day25";
  }

  .day-1 {

    //align-items: center;
    //align-content: center;
    grid-area: day1;
    display: flex;
    text-align: center;
    place-items: center;

    img{
        //display: block;
        margin: 0px auto;
        object-fit: cover;
        height: 4vh;
        //width: 10vw;
        
    }
    
  }

  .day-2 {
    
    grid-area: day2;
    display: flex;
    text-align: center;
    place-items: center;

    img{
      margin: 0px auto;
      object-fit: cover;
      height: 4vh;
    }

  }
  
  .day-3 {
    grid-area: day3;

    display: flex;
    text-align: center;
    place-items: center;

    img{
      margin: 0px auto;
      object-fit: cover;
      height: 4vh;
    }

  }
  
  .day-4 {
    grid-area: day4;

    display: flex;
    text-align: center;
    place-items: center;

    img{
      margin: 0px auto;
      object-fit: cover;
      height: 4vh;
    }
  }
  
  .day-5 {
    grid-area: day5;

    display: flex;
    text-align: center;
    place-items: center;

    img{
      margin: 0px auto;
      object-fit: cover;
      height: 4vh;
    }
  }
  
  .day-6 {
    grid-area: day6;

    display: flex;
    text-align: center;
    place-items: center;

    img{
      margin: 0px auto;
      object-fit: cover;
      height: 4vh;
    }
  }
  
  .day-7 {
    grid-area: day7;

    display: flex;
    text-align: center;
    place-items: center;

    img{
      margin: 0px auto;
      object-fit: cover;
      height: 4vh;
    }
  }
  
  .day-8 {
    grid-area: day8;

    display: flex;
    text-align: center;
    place-items: center;

    img{
      margin: 0px auto;
      object-fit: cover;
      height: 4vh;
    }
  }
  
  .day-9 {
    grid-area: day9;

    display: flex;
    text-align: center;
    place-items: center;

    img{
      margin: 0px auto;
      object-fit: cover;
      height: 4vh;
    }
  }
  
  .day-10 {
    grid-area: day10;

    display: flex;
    text-align: center;
    place-items: center;

    img{
      margin: 0px auto;
      object-fit: cover;
      height: 4vh;
    }
  }
  
  .day-11 {
    grid-area: day11;

    display: flex;
    text-align: center;
    place-items: center;

    img{
      margin: 0px auto;
      object-fit: cover;
      height: 4vh;
    }
  }
  
  .day-12 {
    grid-area: day12;

    display: flex;
    text-align: center;
    place-items: center;

    img{
      margin: 0px auto;
      object-fit: cover;
      height: 4vh;
    }
  }
  
  .day-13 {
    grid-area: day13;

    display: flex;
    text-align: center;
    place-items: center;

    img{
      margin: 0px auto;
      object-fit: cover;
      height: 4vh;
    }
  }
  
  .day-14 {
    grid-area: day14;

    display: flex;
    text-align: center;
    place-items: center;

    img{
      margin: 0px auto;
      object-fit: cover;
      height: 4vh;
    }
  }
  
  .day-15 {
    grid-area: day15;

    display: flex;
    text-align: center;
    place-items: center;

    img{
      margin: 0px auto;
      object-fit: cover;
      height: 4vh;
    }
  }
  
  .day-16 {
    grid-area: day16;

    display: flex;
    text-align: center;
    place-items: center;

    img{
      margin: 0px auto;
      object-fit: cover;
      height: 4vh;
    }
  }

  .day-17 {
    grid-area: day17;

    display: flex;
    text-align: center;
    place-items: center;

    img{
      margin: 0px auto;
      object-fit: cover;
      height: 4vh;
    }
  }

  .day-18 {
    grid-area: day18;

    display: flex;
    text-align: center;
    place-items: center;

    img{
      margin: 0px auto;
      object-fit: cover;
      height: 4vh;
    }
  }

  .day-19 {
    grid-area: day19;

    display: flex;
    text-align: center;
    place-items: center;

    img{
      margin: 0px auto;
      object-fit: cover;
      height: 4vh;
    }
  }

  .day-20 {
    grid-area: day20;

    display: flex;
    text-align: center;
    place-items: center;

    img{
      margin: 0px auto;
      object-fit: cover;
      height: 4vh;
    }
  }

  .day-21 {
    grid-area: day21;

    display: flex;
    text-align: center;
    place-items: center;

    img{
      margin: 0px auto;
      object-fit: cover;
      height: 4vh;
    }
  }

  .day-22 {
    grid-area: day22;

    display: flex;
    text-align: center;
    place-items: center;

    img{
      margin: 0px auto;
      object-fit: cover;
      height: 4vh;
    }
  }

  .day-23 {
    grid-area: day23;

    display: flex;
    text-align: center;
    place-items: center;

    img{
      margin: 0px auto;
      object-fit: cover;
      height: 4vh;
    }
  }

  .day-24 {
    grid-area: day24;

    display: flex;
    text-align: center;
    place-items: center;

    img{
      margin: 0px auto;
      object-fit: cover;
      height: 4vh;
    }
  }

  .day-25 {
    grid-area: day25;

    display: flex;
    text-align: center;
    place-items: center;

    img{
      margin: 0px auto;
      object-fit: cover;
      height: 4vh;
    }
  }


//✅ THE BOYZ
.Members{

  height: 60vh;
  min-width: 100vw;
  margin: 0rem 0rem;
  padding: 0px 0px;

  justify-content: center;    //가로 정렬
  align-items: center;        //세로 정렬
  flex-direction: column;     //아이템 위아래 정렬
  align-content: center;
  text-align: center;

  display: flex;

  h1{
      position: absolute;
      top: 5vh;
      font-size: 2rem;
      margin: 0rem 0rem;
      font-size: 3rem;
      text-align: center;
  }

}

.TheBoyz{

 position: relative;

}

.theboyz{

  position: absolute;
  top: -20vh;
  left: -50vw;
  //justify-content: center;
  //align-items: center;
  width: 100vw;
  //height: calc(55vh);
}

@keyframes fall {
    from{}
    to{
        transform: translateY(100vh);
        opacity: 0;
    }
}

